# Environment variables & Firebase credentials
.env.local
.env
.env.*.local
serviceAccountKey.json
*serviceAccount*.json
*firebase-adminsdk*.json

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS
.DS_Store

# IDE
.vscode/
.idea/


test/*
database/*
image